// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #4D4DEA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F9F9F9;

//TOMO colors
//Tomo colors
$turquoise: #6AE0E6;
$bg-blue: #87c9cc;
$light-blue: #DEFAFB;
$dark-blue: #050D45;
$dark-grey: #4B4B4B;