// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Raleway:wght@100;200;400;700&display=swap');



// Define fonts for body and headers
$body-font: 'Lato', "sans-serif";
$headers-font: 'Raleway', "sans-serif";
