.btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: $turquoise;
  border: 1px solid $turquoise;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  transition: background color 0.2s ease;
      &:hover {
          background-color: #4D4DEA;
          color: white;
    border: solid white 1px;
      }
}
.tag-button {
  flex-direction: row;
  justify-content: space-around;
  background-color: $light-blue;
  border-radius: 20px;
  font-size: .8em;
  padding: 5px;
  color: #4D4DEA;
  font-family: "Lato", "sans-serif";
}