.card {
    align-items: center;
    padding: 10px;
    line-height: 1.3em;
    font-size: .8em;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #6AE0E6;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}
.card-content {
  padding: 15px 25px;
  background-color: white; 
  border-radius: 6px;
  overflow: hidden;
}
.card-pic {
  position: absolute; 
  top: -20px;
}
.doctor-info > h4 {
  font-size: 1.5em;
  margin-top: 2em;
}
.doctor-title {
  font-size: 1.3em;
  color: $dark-blue;
  font-weight: bolder;
  margin-bottom: 1.2em;
}
.reco {
  margin-right: .6em;
  margin-left: .6em;
  border-top: 1px solid #cccc;
}
.tags {
  margin: 2em;
}
.reco > h5 {
  font-size: 1.2em;
  font-weight: bolder;
  color: $dark-grey;
}
.reco-social {
  min-height: 1.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social-scores {
  font-family: $headers-font;
  font-size: 1.5em;
  font-weight: lighter;
}
.social-den {
  font-size: .8em;
  color: $turquoise;
}