.card {
    align-items: center;
    padding: 10px;
    line-height: 1.3em;
    font-size: .8em;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #6AE0E6;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}
.card-content {
  padding: 15px 25px;
  background-color: white; 
  border-radius: 6px;
  overflow: hidden;
}
.card-pic {
  position: absolute; 
  top: -20px;
}
.reco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $dark-grey;
}
.reco > h5 {
  font-size: 1.2em;
  font-weight: bolder;
  color: $dark-grey;
}